.MuiCard-root{
  margin-bottom: 30px;
  border-radius: 14px;
  width: 100%;
  padding: 15px;
}

.titleContainer{
    display: flex;
    justify-content: space-between;
}


.MuiCardActions-root{
  display: flex;
  gap:10px;
}

.editOrder, .deleteOrder{
  background: transparent;
  border: none;
  cursor: pointer;
}

